@import "../../vars.css";

.container {
  width: 1440px;
height: 1346px;
flex-shrink: 0;
  background: #232323;
  
}

.cont{
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 0%;
  margin-right: 0%;
}

.title {
padding-left: 70px;
color: #FFF;
font-family: Satoshi;
font-size: 74px;
font-style: italic;
font-weight: 400;
line-height: normal;
padding-top: 40px;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  color: #FFF;
}


