@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 5%;
  margin-right: 0%;
  background: #FFF;
  gap: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.title {
  color: #000;
font-family: Satoshi;
font-size: 74px;
font-style: normal;
font-weight: 300;
line-height: normal;
white-space: nowrap;
}

.description {
  color: #000;
font-family: Satoshi;
font-size: 74px;
font-style: normal;
font-weight: 300;
line-height: normal;
}



.heroImg {
  width: 502px;
height: 572px;
flex-shrink: 0;
  z-index: 1;
}




@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
