@import "../../vars.css";
.container{
  display: flex;
  flex-direction: column; /* Align elements in a column */
  justify-content: center; /* Center the column vertically */
  align-items: center; /* Center the column horizontally */
  text-align: center;
  background-color: #FFF;
  padding: 40px;
}
.title{
  color: #000;
  text-align: center;
  font-family: Staatliches;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
.Scroll{
  color: #000;
font-family: Satoshi;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 10px;
padding-top: 30px;
}

.links{
  display: flex;
  justify-content: center; /* Center the items horizontally */
  gap: 20px; /* Add space between the items */
  list-style-type: none; /* Remove bullets */
  padding: 20px; /* Remove default padding */
  padding-top: 80px;
}

ul {
  display: flex;
  justify-content: space-around; /* Adjust to your layout */
  padding: 0;
  list-style: none;
  gap: 50px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust this gap as per your need */
  margin: 0 20px; /* Optional, to add more space between items */
  margin-right: 80px;
}
li:last-child {
  margin-right: 0; /* Removes the margin on the last item */
}

li img {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
/* Text styling for the link text */
li a {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

