@import "../../vars.css";
@import url('https://cdn.fontsprovider.com/path/to/satoshi.css');

.container {

  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  background: #232323;
  box-shadow: none;
  border: none;
  text-align: center; /* Centers the text inside */
  overflow: hidden;
  width: 100vw;
}

.inner {
  width: 100%; /* Ensures inner content doesn’t exceed container width */
  max-width: 1135px; /* Controls max width of the inner content */
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 25px;
  line-height: 1.5;
  color: #F7F7F7;
  font-family: Satoshi, sans-serif;
  
}
