@import "../../vars.css";
.container{
 padding: 30px;
}

.title{
  color: #000;
text-align: center;
font-family: "DM Sans";
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 37.5px */
padding: 30px;
padding-top: 0px;
}

.achievements{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .title {
    font-size: 20px; /* Adjust font size for tablet screens */
    padding: 20px; /* Reduce padding */
  }

  .container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px; /* Further reduce font size for mobile screens */
    padding: 15px;
  }

  .container {
    padding: 10px;
  }
}