@import "../../vars.css";

.container{
    display: flex;           /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
    align-items: center;     /* Vertically align the items */
    gap: 25px;               /* Space between the images */
    padding: 30px;  

}
    



.twoimages{
    display: flex;
    justify-content: center; /* This centers the images horizontally */
    align-items: center; /* This aligns the images vertically (optional) */
    gap: 20px;
    padding: 20px;
    padding-left: 30px;
    flex-direction: column;
}

.sunflower{
    width: 620px;
height: 230px;
flex-shrink: 0;
}
.matka{
    width: 620px;
    height: 230px;
    flex-shrink: 0; 
}

.mandir{
    width: 400x;
height: 469px;
flex-shrink: 0;
}

@media (max-width: 480px) {
    .container {
        gap: 15px;
        padding: 10px;
    }

    .twoimages {
        padding: 5px;
        gap: 10px;
    }

    .sunflower, .matka, .mandir {
        width: 100%; /* Full width for extra small screens */
        height: auto;
    }
}